/* ========================================================================    
 *
 * Base Element Styles 
 *
 * Contains style definitions for base elements (essentially, a reset)
 *
 * ======================================================================== */
/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #e0e0e0;
  bottom: 0;
  color: #343434;
  font-family: Arial, sans-serif;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-font-smoothing: antialiased;
}
#debug { 
    padding: 1em;
}
